:host {
    z-index: inherit;
    position: absolute;
    top: 50px;
    width: 100%;
    height: ~'calc(100% - 90px)';
    width: ~'calc(100% - 40px)';
    background-color: #E4E4E4;
    margin: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}